
body{
    --background: #151411;
    --color: #f5f5f5;
    --highlight: #402157;
    --active: #4687ff;

    --red: #ff0000;
    --green: #007bff;

    --code1: #8deeff;
    --code2: #23ff6c;
    --code3: #ffa348;
    --code4: #e8f806;
    --code5: #ae81ff;


    background-color: var(--background);
    color: var(--color);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    user-select: none;

    /* padding-left: 1em; */
    margin: 0;
    padding-top: 2em;
}

/* light mode */
@media (prefers-color-scheme: light) {
    body{
        --background: #f5f5f5;
        --highlight: #42b6d6;
        --color: #121305;
        --active: #06348a;

        --red: #aa0000;
        --green: #00aa00;
        
        --code1: #2b97ad;
        --code2: #5a6b39;
        --code3: #902694;
        --code4: #c76e08;
        --code5: #752bff;

    }
}

.highlight{
  background-color: var(--highlight);
}

.title{
  font-size: 1.2em;
  font-weight: bold;
}
.link{
  color: var(--active);
  cursor: pointer;
}

*:focus{
	outline: none;
}

*{
  margin: 0;
  padding: 0;
}

.pad{
  width:1em;
  height:1em;
  display: inline-block;
}

.pad::after {
  content: "";
  position: absolute;
  top: 0;
  width: 2px;
  height: 1.5em;
  background-color: var(--highlight);
}

.page{
  border-left: 1px solid var(--highlight);
}

*[contentEditable=true]{
  cursor: text;
  border-left: 1px solid var(--active);
}

p {
  min-height: 1em;
  cursor: text;
  position: relative;
  white-space: pre;
  font-family: monospace;
}

.cursor{
  display: inline-block;
  position: absolute;
  width: 0px;
  height: 1em;
  border-left: .1em solid var(--color);
  /* border-right: .1em solid red; */
  border-bottom: .2em solid var(--color);
  animation: blink 1s infinite;
}